{% extends 'story2/index.html'%}
{% load static %}



{% block title %}
<title>About Me</title>
{% endblock %}


{% block css %}
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'story2/style.css' %}">
{% endblock %}
	
<body>

    {% block content %}

    <br>
    <br>
    
    <div class='container text-center' style="min-height: 100vh;">
    	<div class='row no-gutters justify-content-center'>
    		<div class='"col-12 "'>
				<img src="{% static 'story2/JP41.jpg' %} " style="width: 75%; border-radius: 20px; margin-bottom: 5%;">
				
    		</div>
			
    		<div class='col-12 ' >
				<h1 style="margin: auto">Rafi Muhammad</h1>
				<hr style="width: 20%; margin: auto; border-top: 2px solid #000000; margin-top: 2%; margin-bottom: 2%;">
    			<p class="lead"> Computer Science Student </p>
    		</div>

    	</div>

    </div>



    <div class='container text-center'>
    	<div class='row no-gutters justify-content-center'>
    		<div class=col-12>
    			<h1> Little Story About Me</h1>
    			<hr style="width: 20%; margin: auto; border-top: 2px solid #000000;">
    			<br>

    		</div>
    	</div>


    	
    	<div class='row'>
    		<div class=col-12 style="text-align: left;">
    			<p>
    				I'm currently learning computer science at Faculty of Computer Science, University of Indonesia. When I first studying here, I had 0 knowledge about computer science. <br> <br>

    				First semester, I learnt how to code, with Python for the basic, I'm not very good at first so my grade at Foundation Programming 1 is not really good. At that time, I learnt about Discrete Math for basic of programming logic, it was fun subject because it teach you how to think. <br><br>

    				Second semester, I learnt Java. For me, Java is really great when it goes to OOP (Object-Oriented Programming), I understand the concept of OOP when I learn Java, even though I learn it too in Programming Foundation 1 which is using Python. <br><br>

    				Third semester is a chaos, I learn about Data Structure and Algorithm and it is stressing me out, even though it is hard I must give my best at it because it is a foundation to be a Software Engineer, which is one of my career goal. Also I learn about how to making website using Python Django. This website actually part of the task of that subject. I also learn how to code in assembly language that honestly, I don't really like it.
    			</p>
    		</div>
		</div>
		<br>

    </div>

    

    {%endblock%}




</body>
</html>