{% extends 'story4/base.html'%}

<!DOCTYPE html>
{% load static %}
<head>
    {% block title%}
    <title>Story 7</title>
    {% endblock %}
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1cQRFi3dgfSVKpc1B9idTEuN3cBScszNHP9silYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    

    {% block css %}
    
    <script src="{% static 'story7/scripts.js' %}"></script> 
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'story2/style.css' %}">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% block content %}
    <h3>What is your name?</h3>
    <p>My name is Rafi Muhammad</p>
    <h3>What is this project?</h3>
    <p>This is just my assignment for web design & programming subject of my college</p>
    <h3>Can I rearrange the accordion?</h3>
    <p>yes you can do it on your own by pressing arrow up button on this accordion</p>
    <h3>How did you do this?</h3>
    <p>I'm using some javascript spesifically using JQuery. Anyway JQuery is part of this assignment. </p>
    {% endblock %}
</body>
</html>