{% extends 'story4/base.html'%}

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    {% block title%}
    <title>Profile</title>
    {% endblock %}
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1cQRFi3dgfSVKpc1B9idTEuN3cBScszNHP9silYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    {% block css %}
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'story2/style.css' %}">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>



    {% block content %}
    <div id="projects">
        <div class='container text-center'>
            <form action="", method='POST'>
                <div class="row">
                    <div class='col col-md-12' style="padding-top:5%; padding-bottom: 0px;">
                        <h1> Daftar Mata Kuliah </h1>
                    </div>
                </div>
                
                <div class="border border-light">
                    <div class='row' style=" text-align: left ;">
                        
                            {% csrf_token %}
                            {% if mataKuliah %}
                                {% for i in mataKuliah %}

                                    <div class='col-12 col-md-12'>
                                        <h1 style="text-align: left;font-size: x-large; padding-bottom: 0; padding-top:3%">{{i.nama_matkul}}</h1>
                                        <p> Semester {{i.semester}}</p>
                                        <p style="margin: 0%;"> {{ i.deskripsi }} </p> <br>
                                        <button type="submit" name="update" value="{{i.id}}" class="btn btn-dark">Update</button>
                                        <button type="submit" name= "delete" value= "{{i.id}}" class="btn btn-dark">Delete</button>
                                        <hr>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class='col-12 col-md-12'>
                                    <br><br><br><br>
                                    <h1 style="text-align: center; font-size: x-large;justify-content: center;">EMPTY</h1>

                                </div>
                                <br><br><br><br><br><br><br><br><br><br><br><br>
                            {% endif %}

                        
                    </div>
                </div>
    
                <div class="row">
                    <div class='col col-md-12' style="padding-top:5%; padding-bottom: 0px;">
                        <button type="submit" name="add" value="add" class="btn btn-dark btn-lg btn-block">ADD</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br>
    <br>
    
    {% endblock %}    
    
    
</body>
</html>