* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}
nav {
    background-color: #145374 ;
    overflow: hidden;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    padding-left: 5%;
    text-decoration: none;
    font-size: 17px;
    
}

.konten {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.header {
    display: flex;
    padding: 10px;
    justify-content: center;
}


#foto {
    display: flex;
    width: 15%;
    padding-top: 15px; 
}

.deskripsiDiri {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 5%;
}

#hello {
    display: flex;
    font-size: 200%;
    margin-bottom:2% ;

}

#desc {
    font-size: small;
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 5%;
    justify-content: space-evenly;
    
}

#dataDiri {
    display: flex;
    flex-direction: column;
    
}

.judul {
    font-size: medium;
    font-weight: bold;
}

.isi {
    padding: 6%;
    background: #FFFFFF;
    width: 350px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-size: small;
}

.isi p {
    font-size: smaller;
}

#riwayat {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}

.contactMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 10px;

}

.contactMe p {
    font-weight: bold;
    margin-left: 0ex;
    font-size: small;
}

.contactMe img {
    margin-left: 10px;
    height: 20px;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
    border-width: thin;
}